<h1>Mountain</h1>
<p>Tumblr Metrics</p>

<h2>SNAPSHOTS</h2>	

<h3><%= link_to @tumblr_blog_title, @tumblr_blog_url  %></h3>

<h4>FOLLOWERS</h4>
<%= number_with_delimiter(@tumblr_blog_followers) %>

<h4>POSTS</h4>
<p><strong>Total:</strong> <%= number_with_delimiter(@tumblr_total_posts) %></p>

<h4>NOTES</h4>
<p><strong>Total:</strong> <%= number_with_delimiter(@tumblr_total_notes) %></p>
<p><strong>Average notes per post:</strong>  <%= @tumblr_avg_notes_per_post %></p>