<%= form_for(@tumblr) do |f| %>
  <% if @tumblr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tumblr.errors.count, "error") %> prohibited this tumblr from being saved:</h2>

      <ul>
      <% @tumblr.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :followers %><br />
    <%= f.number_field :followers %>
  </div>
  <div class="field">
    <%= f.label :total_posts %><br />
    <%= f.number_field :total_posts %>
  </div>
  <div class="field">
    <%= f.label :total_notes %><br />
    <%= f.number_field :total_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
